.row.notice
  .section.narrow.center
    %h1 Subtítulo
    %hr.red.small/
    %h3.centered-text Descrição ...........................
.row.bg
  .section.center
    %h1 Seções
    %hr.red.small/
    .autogrid.padded
      .col
        %h2 Seção 1
        %p
          Resumo
      .col
        %h2 Seção 2
        %p Resumo
      .col
        %h2 Seção 3
        %p Resumo

.row.bg-orange.light-text
  .section.padded
    .col-1-2
      %h1 Artigo 1
      %p Resumo .................. ...................... .................. ................. .................
    .col-1-2
      %h1 Artigo 2
      %p Resumo .................. ...................... .................. ................. .................
    .clear

.row
  .section.narrow.center
    %h1 Feedback
    %hr.small.opacity-2/
    %p
      Comentário ................. ............ ............. ........... ................
      %a.small.gray-medium{:href => "#", :target => "_blank"} de Pessoa35.
.row.bg-default
  .section.narrow.center.full-width-forms
    %form.padded
      .col-2-3
        %br/
        %input{type: "text", name: "email", placeholder: "Insira seu e-mail"}
      .col-1-3
        %br/
        %input.btn.white{type: "submit", value: "Inscreva-se!"}
      .clear
      %br/
