.row
  .section.narrow.center
    %h1 Minimal
    %hr.red.small/
    %h3.centered-text Vital is a reverse approach to "everything and the kitchen sink" CSS frameworks.
#simple.row.bg
  .section.center
    %h1 Simple
    %hr.red.small/
    .autogrid.padded
      .col
        %img.b-lazy.full{"data-src" => "images/demo/spring-8fb8662b.svg", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="}/
        %h2 Flexible
        %p
          Vital is built with
          %a{:href => "http://sass-lang.com/", :target => "_blank"} Sass
      .col
        %img.b-lazy.full{"data-src" => "images/demo/code-3561b54a.svg", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="}/
        %h2 Readable
        %p No ridiculous amounts of classes or nesting. No excessively buried code.
      .col
        %img.b-lazy.full{"data-src" => "images/demo/expand-55e0a069.svg", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="}/
        %h2 Scalable
        %p
          Written almost entirely in
          %code em
#light.row
  .section.center
    %img.b-lazy.full{"data-src" => "images/demo/feather-5b77d91f.svg", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="}/
    %h1 Light as a feather
    %hr.red.small/
    %p At a total size of just 23 KB minified or 6 KB gzipped, Vital loads and renders quickly.
    .narrow
      .autogrid.stats
        .col
          %h1
            23
            %span KB
          %hr.small/
          %p
            CSS framework
            %br/
            %small.gray-medium 6 KB gzipped!
        .col
          %h1
            0
            %span KB
          %hr.small/
          %p
            No javascript
            %br/
            %small.gray-medium No problems!
#productive.row.bg-blue
  .section.padded.light-text
    .col-1-2
      %img.b-lazy{"data-src" => "images/demo/chart-16d9bf46.svg", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="}/
      %h1 Less is more
      %p Traditional CSS frameworks include an overwhelming and unnecessary amount of bloat. Vital is built on the principal that less is more. Working with less code means there are fewer bugs to squash and less documentation to read. Less time spent coding means more time to focus on your next killer feature.
    .col-1-2
      %img.b-lazy{"data-src" => "images/demo/hammer-32d5de5b.svg", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="}/
      %h1 Regain productivity
      %p Often times a large CSS framework is used to speed up the time to market or to enforce consistency, but when a project grows beyond the initial scope of a concept, development becomes more difficult and time consuming. Vital reduces workflow inefficiencies because there is less to learn and maintain.
    .clear
#devices.row.bg
  .section.center
    %h1 Vast device support
    %hr.red.small/
    %p.centered-text Vital is a true cross-platform, mobile-first framework. Elements such as select boxes, checkboxes and radios render consistently across different platforms while gracefully degrading on legacy.
    %img.b-lazy.full{"data-src" => "images/demo/devices-2e35e67f.svg", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="}/
#open-source.row.bg-black
  .section.narrow.center.light-text
    %img.b-lazy{"data-src" => "images/demo/open-source-a15fb366.svg", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="}/
    %h1 Open Source
    %hr.small.opacity-2/
    %p
      Vital is developed and maintained by
      %a{:href => "https://doximity.com", :target => "_blank"} Doximity.
      View the source at
      %a{:href => "https://github.com/doximity/vital", :target => "_blank"} GitHub.
.row.bg-orange
  .section.narrow.center
    %p
      %a.btn.white.round.large{:href => "get-started/"} Get Started using Vital
