.row
  .section.narrow.center
    %h1 Subtítulo
    %hr.red.small/
    %h3.centered-text Descrição ...........................
.row.bg
  .section.center
    %h1 Seções
    %hr.red.small/
    .autogrid.padded
      .col
        %h2 Seção 1
        %p
          Resumo
      .col
        %h2 Seção 2
        %p Resumo
      .col
        %h2 Seção 3
        %p Resumo

.row.bg-red
  .section.padded.light-text
    .col-1-2
      %h1 Artigo 1
      %p Resumo .................. ...................... .................. ................. .................
    .col-1-2
      %h1 Artigo 2
      %p Resumo .................. ...................... .................. ................. .................
    .clear

.row.bg-black
  .section.narrow.center.light-text
    %h1 Feedback
    %hr.small.opacity-2/
    %p
      Comentário ................. ............ ............. ........... ................
      %a.small.gray-medium{:href => "#", :target => "_blank"} de Pessoa35.
.row.bg-green
  .section.narrow.center
    %p
      %a.btn.white.round.large{:href => "#"} Inscreva-se!
