!!! 5
%html{:lang => 'en'}
    %head
        %meta{content: 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type'}
        %meta{name: :viewport, content: 'width=device-width,initial-scale=1'}
        %title= !!@title ? "Autistamor - #{@title}" : "Autistamor"
        %link{rel: "stylesheet", href: "/css/pico.min.css", type: "text/css"}
        %link{rel: "icon", type:"image/x-icon", href:"/img/favicon.ico"}
        %script{type: "text/javascript", src: "/js/htmx.min.js"}

    %body.dark
        != content
