!!! 5
%html{:lang => 'en'}
  %head
    %meta{content: 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type'}
    %meta{:charset => "UTF-8"}/
    %meta{name: :viewport, content: 'width=device-width,initial-scale=1'}
    %title= !!@title ? "Autistamor - #{@title}" : "Autistamor"
    %link{rel: "stylesheet", href: "/css/vital.min.css", type: "text/css"}
    %link{rel: "icon", type:"image/x-icon", href:"/img/favicon.ico"}
    %script{type: "text/javascript", src: "/js/htmx.min.js"}

  %body.index
    .row.header.bg-black.light-text
      .section
        %nav
          %a.logo{:href => "/"}
            %img{:alt => "Logo", :src => "img/logo.png"}/
          %label#menu-toggle-label{:for => "menu-toggle"}
          %input#menu-toggle{:type => "checkbox"}/
          .icon-menu
          %ul.menu
            %li
              %a{:href => "#"} Sobre
            %li
              %a{:href => "#"} Autista...
            %li
              %a{:href => "#"} ...Amor
            %li
              %a{:href => "#"} Contato

    .contents
      .row.hero.bg-blue
        .section.center.autogrid.padded
          .col
            %img{src: "/img/favicon.png"}
            %h1 Autistamor
          .col
            %h2 Informação e entretenimento para quem pensa fora da caixa S2
      .page
        != content

    .row.footer.center
      .section
        %i.icon-vital.i3x
        %ul
          %li
            %a{:href => "#"} Github
          %li.line │
          %li
            %a{:href => "#"} Instagram
          %li.line │
          %li
            %a{:href => "#"} Facebook
          %li.line │
          %li
            %a{:href => "#"} Quora
          %li.line │
          %li
            %a{:href => "#"} Twitter
        %hr.small/
        %p © 2022
