!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => @description, :name => "description"}
    %title= @title
    %link{rel: "icon", type:"image/x-icon", href:"/img/favicon.ico"}
    %link{:href => "/css/pure-custom.css", :rel => "stylesheet"}
    %link{:href => "/css/grids-custom.css", :rel => "stylesheet"}
    %link{:href => "/css/site.css", :rel => "stylesheet"}
    %script{type: "text/javascript", src: "/js/htmx.min.js"}

  %body
    #layout.g
      .sidebar.u-1.u-md-1-4
        .header
          %img.img{ src: "img/favicon-alt.png" }
          %h1.brand-title= @title
          %h2.brand-tagline= @description
          %nav.nav
            %ul.nav-list
              %li.nav-item
                %a{:href => "#"} Início
              %li.nav-item
                %a{:href => "#"} Sobre
              %li.nav-item
                %a{:href => "#"} Contato

      .content.u-1.u-md-3-4
        %div
          != content

          .footer
            .menu.menu-horizontal
              %ul
                %li.menu-item
                  %a.menu-link{:href => "http://purecss.io/"}
                    %img{src: "/img/github.svg", height: "20px", width: "20px"}
                    Github

                %li.menu-item
                  %a.menu-link{:href => "http://github.com/pure-css/pure/"}
                    %img{src: "/img/instagram.svg", height: "20px", width: "20px"}
                    Instagram

                %li.menu-item
                  %a.menu-link{:href => "http://github.com/pure-css/pure/"}
                    %img{src: "/img/facebook.svg", height: "20px", width: "20px"}
                    Facebook

                %li.menu-item
                  %a.menu-link{:href => "http://github.com/pure-css/pure/"}
                    %img{src: "/img/linkedin.svg", height: "20px", width: "20px"}
                    LinkedIn

                %li.menu-item
                  %a.menu-link{:href => "http://github.com/pure-css/pure/"}
                    %img{src: "/img/twitter.svg", height: "20px", width: "20px"}
                    Twitter
